
.mp-imagen{
    width: 100%;
}
.mp-imagen:hover{
    cursor: pointer;
}
.required{
    width: 100%;

}
.required2{
    width: 100%;
    border-color: red;  

}
.enviar{
    width: 100%;
    height: 120%;

}
.text-area-1{
    resize: none;
    width: 100%;
}
.text-area-2{
    resize: none;
    width: 100%;
    border-color: red;
}
.combo-style-1{
    width: 100%;
}
.combo-style-2{
    width: 100%;
    border-color: red;
}
.map-style{
    width: auto;
}
.map-style-2{
    width: auto;
    border-color: red;
}

/* Tabla de datos */
.table-registro{
    width: 70%;
    
}
.table-registro-labels{
    width: 25%;
    padding: 2%;
}
.table-registro-forms{
    width: 60%;
}
.table-registro-extra{
    width: 15%;
    padding: 2%;
}